*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body{
   background-color:mediumpurple;
}

@keyframes animacion{
   from {
       opacity: 20%;
   }

   to {
       opacity: 100%;
   }
}

@font-face {
   font-family:h1;
   src: url(../fuentes/titulo.ttf);
}

@font-face {
   font-family:p;
   src: url(../fuentes/parrafo.TTF);
}

@media screen and (max-width:1018px){

   #izquierda img{
      width:80%;
   }

   div #logo a{
      font-size:18px;
      margin-left:6%;

      transition: all 800ms;
   }

   div #menu nav ul li a{
      width: 30%;
      margin-left:20%;
      
      transition: all 800ms;
   }

   div #menu nav{
      width:30%;
      height:inherit;
   }

   div #logo{
      width:70%;
      height:inherit;
   }

   header nav ul li{
      display:flex;
      flex-direction:column;
      width:inherit;
   }

   .discord{
      margin-left:4%;
      margin-top:1.5%;
   }

   .proximamente{
      display:none;
   }

   
}

@media screen and (max-width:768px){

   #lateral{
      display:none;
   }

   div #izquierda{
      width:100%;
      height:110vh;
      transition: all 800ms;
   }
   
}

header{
   background-color:black;
   
   z-index:99;
   width:100%;
   height:80px;
   
   animation-name:animacion;
   animation-duration:800ms;
}

#menu{
   width:100%;
   height:inherit;
   text-align:center;
   font-family:h1;
}

#logo{
    width:30%;
   height:inherit;
   padding-top:25px;
   float:left;
   
   text-align:center;
   background-image:url(../imagenes/favicon.png);
   background-repeat: no-repeat;
   background-size:contain;
}

#logo a{
   font-size:22px;
   font-family:h1;
   
   margin-top:10%;
   margin-left:15%;
   text-decoration:none;
   color:white;
}

nav{
   width:70%;
   height: inherit;
   text-align: center;
   padding-top: 30px;
   color:mediumpurple;
   float:left;
}

nav ul li{
   width: 25%;
   display:inline-block;
}

nav ul li a{
   color:mediumpurple;
   text-decoration:none;
   display:hover;
}

nav ul li ul{
   display:none;
   position:absolute;
   
   height:20vh;
   width:17.5%;
   
   padding-top:1%;
   padding-left:-20%;
   background-color:black;
   z-index:9;
}

nav li:hover > ul{
   display:block;
   position:absolute;
}

nav ul li ul li{
   height:inherit;
   width:90%;
}

nav ul li ul li p{
   color:white;
   font-family:p;

   margin-left:0%;
   padding-top:20%;
}

#contenido{
   width:100%;
   height:110vh;
   z-index:8;

   animation-name:animacion;
   animation-duration:800ms;
}

#lateral{
   background-color:rebeccapurple;
   width:20%;
   height:110vh;
   
   padding-top:10px;
   top:80px;
   float:right;

   
   animation-name:animacion;
   animation-duration:2000ms;
}

#izquierda{
   background-color:mediumpurple;
   
   width:80%;
   height:110vh;
   top:80px;
   float:left;
}

#izquierda h1{
   width:70%;
   top:10px;
   text-align:left;
   color:rebeccapurple;
   z-index: 8;
   margin:15px;
   font-family:h1;
   font-size:40px;
}

#izquierda p{
   color:rebeccapurple;
   font-family:p;
   font-size:27px;
   margin:15px;
}

#izquierda img{
   display:block;
   margin:auto;

   padding-top:5%;
}

#lateral h1{
   color:mediumpurple;
   font-family:h1;
   margin:3%;
   font-size:30px;
   text-align: center;
}

#lateral h2{
   color:mediumpurple;
   font-family:h1;
   margin:3%;
   text-align: center;
}

#lateral p{
   color:white;
   -webkit-text-stroke: .4px black;

   font-family:p;
   font-size:18px;
   text-align: center;
}

#lateral h3{
   color:mediumpurple;
   font-family:p;
   text-align: center;
}

#lateral a{    
   color:mediumpurple;
   padding-left:10px;
   
   font-family:p;
   font-size:20px;
   text-decoration:none;
}

#lateral img{
   height:17vh;
   width:23vh;
   
   margin-left:15%;
   
   box-shadow:2px 2px 2px black;
   border-radius:10px;
}

#lateral section{
   padding-top:20px;
   padding-left:10px;
}

.proximamente{
   float:right;
}